*{
    /* border: solid; */
}
.text_align_center {
text-align: center;
}

footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

li{
    list-style: none;
}

.top{
    margin-top: 20px;
}

ul{
    justify-content: center;
    padding: 0px;
}